In [6]:
import pandas as pd 
url = 'test_input.csv'
test_df = pd.read_csv(url, comment='#')
test_df.head(5)

   Jeden   Dwa
0      1     2

In [7]:
test_df.drop("Jeden", axis=1, inplace=True)
test_df.head(5)

    Dwa
0     2

In [8]:
test_df.to_csv("test_output", index=False)